* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1,
h2 {
  font-size: 1.616rem;
  text-align: center;
  font-weight: normal;
  padding: 1rem 0 0.5rem 0;
  color: #555858;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}

button {
  transition: all 0.2s;
}

/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section,
article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/* Checkbox hack to control information box display */

label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

input[type='checkbox'] {
  position: absolute;
  top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type='checkbox']:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1,
  h2 {
    font-size: 3rem;
    padding: 1rem 0 1rem 0;
  }
}

.uploader {
  margin: 1rem auto 1rem auto;
  width: 800px;
  max-width: 95%;
}

.images {
  margin-top: 1rem;
  display: flex;
  gap: 0.125rem;
  flex-wrap: wrap;
}

.images__no-image-text {
  display: block;
  font-size: 1.2rem;
  color: #aaa;
  text-align: center;
  margin: 40vh auto 0 auto;
}

.image {
  display: block;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(50% - 0.0625rem);
  padding-top: calc(50% - 0.0625rem);
  height: 0px;
  transition: all 0.35s ease-in;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(circle 20px, white 99%, transparent 0),
    radial-gradient(circle 20px, white 99%, transparent 0),
    radial-gradient(circle 20px, white 99%, transparent 0),
    linear-gradient(#d2dada 100%, transparent 0);
  background-size: 100px 100px, 100px 100px, 100px 100px, 100% 100%;
  background-position: 20% 50%, 50% 50%, 80% 50%, 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  transform: scale(1) translateY(10px);
}
.image--loaded {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.image:hover {
  transform: scale(1.01);
  opacity: 0.7;
}

.image:before {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  color: white;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  content: 'View';
  cursor: zoom-in;
  transition: all 0.25s;
  opacity: 0;
  transform: translateY(10px) translateZ(0);
}

.image:hover:before {
  opacity: 1;
  transform: translateY(-20px) translateZ(0);
}
.btn-upload {
  position: fixed;
  font-family: serif;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #5564b6;
  cursor: pointer;
  color: white;
  border: none;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  font-size: 1.616rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 1px 2px 4px #0000006e;
}

.btn-upload:hover {
  box-shadow: 1px 4px 8px #0000006e;
  transform: translateY(-2px) scale(1.1);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255 255 255 / 90%);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.loader--is-hidden {
  display: none;
}

@media all and (min-width: 800px) {
  .images {
    gap: 0.25rem;
  }

  .image {
    flex-basis: calc(33.333% - 0.166rem);
    padding-top: calc(33.333% - 0.166rem);
  }

  .btn-upload {
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    line-height: 60px;
  }
}

.master-header {
  height: 80px;
  position: sticky;
  top: 0;
  background-color: #fefefe;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

.master-header nav {
  margin-left: auto;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: #7ec481;
}
